body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.logo {
    font-size: 55px;
    font-family: Impact, sans-serif;
    color: #2156f3;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
}

nav .sale {
    color: #b7ff63;
}

nav .active {
    color: #2156f3;
}

/* DIVIDER */
.divider {
    border: none;
    height: 2px;
    background: white;
    opacity: 0.3;
}

/* HERO */
.news-hero {
    text-align: center;
    padding: 80px 20px;
}

.news-hero h1 {
    font-size: 64px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.news-hero p {
    font-size: 20px;
    opacity: 0.8;
}

/* GRID */
.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
}

/* CARD */
.news-card {
    background: white;
    color: black;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: translateY(-10px);
}

/* IMAGE */
.news-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* CONTENT */
.news-content {
    padding: 25px;
}

.news-content .date {
    font-size: 14px;
    letter-spacing: 2px;
    color: #2156f3;
    font-weight: bold;
}

.news-content h3 {
    margin: 15px 0;
    font-size: 26px;
}

.news-content p {
    font-size: 16px;
    line-height: 1.6;
}


.video-wrapper {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 30px;
}

.video-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 140%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
